
config-server/src/main/resources/application.yaml
course/src/main/resources/application.properties
authuser/src/main/resources/application.properties
authuser/src/main/resources/application.properties
course/src/main/resources/application.properties
notification/src/main/resources/application.properties
